 <div id="hero-container">

        <ul class="cb-slideshow">
                <li><span><%= image_tag("bg-1.jpg") %></span></li>
                <li><span><%= image_tag("bg-2.jpg") %></span></li>
                <li><span><%= image_tag("bg-3.jpg") %></span></li>
                <li><span><%= image_tag("bg-4.jpg") %></span></li>
                <li><span><%= image_tag("bg-5.jpg") %></span></li>
                <li><span><%= image_tag("bg-6.jpg") %></span></li>
            </ul>
        
            <div class="home-header">
            <%= image_tag("logo.jpg") %>
              
              <a href="#" class="home-navHandler visible-xs"><span class="fa fa-bars"></span></a>
              
    
                <ul class="main-nav">
                  <li><a href="#">About</a></li>
                  <li><a href="#">Investors</a></li>
                  <li><a href="#">Career</a></li>
                  <li class="dropdown">
                    <a href="#">Residential</a>
                    <ul class="drop-nav">
                      <li><a href="#">Projects</a></li>
                      <li><a href="#">NRI's</a></li>
                      <li><a href="#">Referrals</a></li>
                     
                           
                    </ul>
                  </li>
                   <li class="dropdown">
                    <a href="#">Commercial</a>
                    <ul class="drop-nav">
                      <li><a href="#">Projects</a></li>                   
                      
                          
                    </ul>
                  </li>
                    <li><a href="#">News & Media</a></li> 
                  <li><a href="#">Contact</a></li>
                  <li><a href="#">login</a></li>
                </ul>
  
            </div>
            <div class="home-caption">
                <div class="home-title">Now it's easy to find your future home</div>
                <div class="home-subtitle">With Reales - Real Estate HTML Template</div>
                <a href="#" class="btn btn-lg btn-black">Learn More</a>
            </div>
            
        </div>
        <div class="highlight">
            <div class="h-title osLight">Find your new place with Reales</div>
            <div class="h-text osLight">Fusce risus metus, placerat in consectetur eu, porttitor a est sed sed dolor lorem cras adipiscing</div>
        </div>
